
.item {
  position: relative;
  display: block;
  min-height: 425px;
  border-radius: 5px;
  background-color: #212121FF;
  border: 1px solid #999999FF;
  cursor: pointer;
  transition: transform 0.5s;

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 375px;
      object-fit: cover;
    }
  }

  &-releaseDate {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: rgba(33, 33, 33, 0.55);
    border-radius: 5px;
    padding: 5px 10px;

    .app-icon {
      margin-right: 5px;
      color: #d4af37;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0.5rem;
    height: 30px;
  }
}

.item:hover {
  transform: translateY(-5px);
}
