
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0.5rem 1rem;
  height: 65px;
  background-color: #212121FF;
  margin: 0;
  margin-top: 50px;
}
